In [1]:
%load_ext autoreload
%autoreload 2
from od.place import Place
from od.stats import Stats

In [2]:
place_name = 'Konstanz, Germany'
city = Place(place_name)
stats = Stats(city)

In [3]:
stats.load_all()

In [4]:
stats.demographic

,nuts3,age_under_20,age_between_20_64,age_over_64,vehicle_bus,vehicle_car,vehicle_moto,vehicle_special,vehicle_utilities,vehicle_truck,household_income,employment_rate_between_20_64,employment_rate_over_64,employment_type_agricultural,employment_type_industrial,employment_type_commercial,employment_type_office,employment_type_social
0,DE138,0.187513,0.596934,0.215552,0.001077,0.730357,0.079856,0.004138,0.051666,0.047528,28000.0,83.7,11.5,0.058188,0.924070,0.007837,0.003445,0.006459
1,DE147,0.187409,0.579400,0.233191,0.001276,0.771499,0.090595,0.004386,0.053071,0.048685,28500.0,84.3,12.1,0.071245,0.916093,0.005593,0.002459,0.004610

In [5]:
stats.export_to_mongo()

In [6]:
df = stats.pull_from_mongo()

In [7]:
df

,nuts3,income,age_under_20,age_between_20_64,age_over_64,vehicle_bus,vehicle_car,vehicle_moto,vehicle_special,vehicle_utilities,vehicle_truck,employment_rate_between_20_64,employment_rate_over_64,employment_type_agricultural,employment_type_industrial,employment_type_commercial,employment_type_office,employment_type_social
0,DE138,28000.0,0.187513,0.596934,0.215552,0.001077,0.730357,0.079856,0.004138,0.051666,0.047528,83.7,11.5,0.058188,0.924070,0.007837,0.003445,0.006459
1,DE147,28500.0,0.187409,0.579400,0.233191,0.001276,0.771499,0.090595,0.004386,0.053071,0.048685,84.3,12.1,0.071245,0.916093,0.005593,0.002459,0.004610